$color-black:#333;
$color-white: #fff;

//text
$color-grey-light: rgb(220, 219, 219);
$color-grey-dark: rgb(220, 219, 219);
$color-grey-secondary: rgb(235, 240, 243);

//bg
$bg-primary: rgb(106, 17, 223);
$bg-primary-light: rgb(5, 75, 206);
$bg-secondary: rgb(238, 12, 238);




//grid
$grid-width: 114rem;
$row-gap: 4rem;
$column-gap: 4rem;

$form-gap: 1rem;

$global-margin: 8rem;




