.section-download{
    position: relative;
    &__foreground{
        width:120rem;
        height: 120rem;
        border-radius:50%;
        position: absolute;
        margin: 0 auto;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        background-color: lighten($color-grey-light,10);
        z-index: -1;

        &::before{
            content:"";
            display: block;
            width:105rem;
            height: 105rem;
            border-radius: 50%;
            background-color: lighten($color-grey-light,4);
            @include center-tool;  
        }
        &::after{
            content:"";
            display: block;
            width:90rem;
            height: 90rem;
            border-radius: 50%;
            background-color: lighten($color-grey-light,7);
            @include center-tool;  
        }
    }

    &--text{
        @include center-tool;

    }
}