.form{
    width: 100%;

    &__input,
    &__address{
        width: 100%;
        padding: 2.5rem 3rem;
        font-size: $default-font-size;
        border: 1px solid $color-grey-light;
        border-radius:5px;
        margin: 0;
        
        @include responsive(tab-port){
            font-size: 3rem;
        }

        @include responsive(phone){
            display: block;
            margin-bottom: 3rem;

        }
    }

    




}